extends ../../views/layout

block append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/style.css')

block content
    div(class="main-wrapper" role="main")
        ol(class="breadcrumb")
            li(class="active")
                strong PL/SQL-Trainer (Procedure-Trainer)
            li
                a(href="./") Startseite
            li
                a(href="./questions") Aufgabenübersicht
            li
                a(href="./question/" + question_id) Aufgabe bearbeiten
            li(class="active") Auswertung
        br

        div(class="container main-content-container")
            h1 Auswertung
            if(evaluation !== undefined)
                if(evaluation.resultnumber == 1)
                    div(class="alert alert-success")
                        center
                            h4
                                b Glückwunsch, du hast die Aufgabe richtig gelöst!
                        p
                            strong Meldung:
                        p #{evaluation.resultmessage}
                        br
                        form(
                        class=''
                        method='get'
                        action='./questions'
                        )

                            button(type='submit', class='btn btn-block btn-primary') Zurück zur Aufgabenübersicht
                else
                    div(class="alert alert-warning")
                        center
                            h4
                                b Ups, die Aufgabe wurde leider nicht richtig gelöst!
                        p
                            strong Meldung:
                        p #{evaluation.resultmessage}
                        br
                        form(
                        class=''
                        method='post'
                        action='./question/' + question_id
                        )
                            input(type='hidden', name='user_procedure' value=user_procedure)
                            button(type='submit', class='btn btn-block btn-success') Weiter versuchen: PL/SQL-Code verbessern

                    if (evaluation.resultnumber != -2)
                        div(class="row")
                            div(class='col-md-12')
                                h4 Querys mit denen die Aufgabe überprüft wurde:
                                ul
                                    each procedure_call in procedure_calls
                                        li #{procedure_call.call}

                            div(class="col-md-6")
                                button(class="btn btn-block btn-danger" onclick="CreateTableFromJSON(" + evaluation.resulttesttable + ",'showData')") Zeige meine Tabelle
                            div(class="col-md-6")
                                button(class="btn btn-block btn-danger" onclick="CreateTableFromJSON(" + evaluation.resultreferencetable + ",'showData')") Zeige die Lösungstabelle

                        br
                        div(class="table-responsive")
                            div(id="showData")

            if (test_success == false)
                div(class="alert alert-warning")
                    center
                        h4
                            b Ups, die Aufgabe wurde leider nicht richtig gelöst!
                    p
                        strong Meldung:
                    p #{test_result}
                    br
                    form(
                    class=''
                    method='post'
                    action='./question/' + question_id
                    )
                        input(type='hidden', name='user_procedure' value=user_procedure)
                        button(type='submit', class='btn btn-block btn-success') Weiter versuchen: PL/SQL-Code verbessern

block append foot_scripts
    script(src='/js/table.js')
